<p>practice-three works!</p>

<input type="file" id="fileUpload" (change)="getFile($event)" />
<input type="button" id="upload" value="Upload" (click)="onFileChange()" />
<hr>
<div id="dvExcel" > 
  <table *ngIf="dataString">
      <tr>
          <th>Fruit</th>
          <th>Transport</th>
          <th>Color</th>
          <th>Day</th>
          <th>Month</th>
      </tr>
      <tr *ngFor="let row of dataString.Sheet1">
            <td>{{row.Fruit}}</td>
            <td>{{row.Transport}}</td>
            <td>{{row.Color}}</td>
            <td>{{row.Day}}</td>
            <td>{{row.Month}}</td>
      </tr>
  </table>
</div>

<!-- <div id="output"></div> -->
