<div>
    <input type="text" value="Textbox1"/>
    <br><br>
    <button type="button" (click)="addElementFunction()">Add textbox</button>
    <button type="button" (click)="removeElementFunction()">Rem textbox</button>
    <p id="demo" (click)="changeColor()">Click me to change my text color.</p>


</div>

<div id="txtbxContainer"></div>


<!-- 2. Create a user interface page with a text box and 
create two button’s with name “Add” and  “Remove” and if you click Add 
then it should create one more text box and if you click “Remove” 
it should remove the text box -->
