
<style type="text/css">
  hr {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    height: 2px;
    background-color: #666;
  }
</style>

<h1 align="center">Trip planner</h1>
<hr>

<!-- <h2>Drop Down Select Box</h2>	 -->
<div class="practicaone">
  <label for="trip">Next trip to</label>
  <select>
    <option value="blue">Bahamas</option>
    <option value="red">Machu Pichu</option>
    <option value="white">Guadalajara</option>
  </select>
  <br><br>

  <!-- <h2>Drop Down Multiselect</h2>	 -->
  <p>mobility preference:</p>
  <select name="cars" multiple size=4>
    <option value="volvo">rent a car</option>
    <option value="saab">public transport</option>
    <option value="opel">bike</option>
    <option value="audi">taxi</option>
  </select>
  <!-- <h2>Check Box</h2> -->
  <p>you travel with:</p>  
    <input type="checkbox" name="vehicle1" value="Bike"> I have a spouse<br>
    <input type="checkbox" name="vehicle2" value="Car"> I have a child<br>
    <input type="checkbox" name="vehicle3" value="Boat" checked> I have a pet<br>
    <!-- <input type="submit" value="Submit"> -->


  <!-- <h2>Radio Button</h2> -->
  <p>Where you want to stay:</p>
  <input type="radio" name="gender" value="male"> Hotel<br>
  <input type="radio" name="gender" value="female"> Airbnb<br>
  <input type="radio" name="gender" value="other"> I have my tent<br><br>
  <!-- <input type="submit" value="Submit"> -->


  <!-- <h2>Date Field</h2> -->
  <form action="hello.html">
    Trip date: <input type="date" name="bday"><br>
    <br>
    <input type="submit" value="submit">
  </form>
</div>

<!-- 1.Create a User Interface page with one field type like 
(Drop Down Select Box, Drop down multiselect, check box, radio button, date field) -->
